# Ignore Node dependencies
node_modules/

# Ignore build artifacts
target/
build/
dist/
.kbn-optimizer-cache/

# Logs
*.log

# Environment files
.env
.env.*
.DS_Store

# Optional: Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore OSD optimizer cache files
.babel_register_cache.json
.babel_plugin_cache.json
